@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap');
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}

.home-box{
    width: 100%;
    display: flex;
    justify-content: space-around;
  }

  .home-box-in{
    width: 40%;
    height: 100%;
    //background: red;
  }

  .pro-details{
    width: 100%;
    height: 600px;
    margin-top: 10%;
    display: flex;
    justify-content: space-around;
    //background: orange;
  }

  .container{
    width: 40%;
   //background: #2b8eec;
  }


  .extra {
    display: none;
  }
  p {
    font-family: "Poppins", sans-serif;
    line-height: 2em;
    display: inline;
  }
  input[type="checkbox"] {
    height: 2em;
    display: block;
    appearance: none;
  }
  label {
    font-family: "Poppins", sans-serif;
    position: relative;
    padding: 10px 30px 10px 30px;
    background-color: orange;
    color: #000000;
    cursor: pointer;
   
  }
  label:before {
    transition: 0.50s;
    content: "Read More";
  }
  input[type="checkbox"]:checked ~ label:before {
    content: "Read Less";
    
  }
  .dots:has(~ input[type="checkbox"]:checked) {
    display: none;
  }
  .extra:has(~ input[type="checkbox"]:checked) {
    display: inline;
  }

  
  

 


#tbox{
  font-weight: 500;
 margin-top: 10%;
 font-size: 30px;
 text-align: center;
 
}

::selection{
  color: #fff;
  background: #007bff;
}

.wrapper{
  //background-color: pink;
 
  //max-width: 1100px;
  padding: 10px;
  margin: auto;
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh;

}
.gallery{
  //background-color: #007bff;
  height: 100%;
  width: 80%;
  display: flex;
  flex-wrap: wrap;
}
.gallery .image{
 
  padding: 7px;
  width: calc(100% / 3);
}
.gallery .image span{
  //background-color: aquamarine;
  display: flex;
  width: 100%;
  overflow: hidden;
}

.gallery .image img{
  width: 100%;
  vertical-align: middle;
  transition: all 0.3s ease;
}
.gallery .image:hover img{
  transform: scale(1.1);
}

.preview-box{
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(0.9);
  background: #fff;
  max-width: 700px;
  width: 100%;
  z-index: 5;
  opacity: 0;
  pointer-events: none;
  border-radius: 3px;
  padding: 0 5px 5px 5px;
  box-shadow: 0px 0px 15px rgba(0,0,0,0.2);
}
.preview-box.show{
  opacity: 1;
  pointer-events: auto;
  transform: translate(-50%, -50%) scale(1);
  transition: all 0.3s ease;
}
.preview-box .details{
  display: flex;
  align-items: center;
  padding: 12px 15px 12px 10px;
  justify-content: space-between;
}
.preview-box .details .title{
  display: flex;
  font-size: 18px;
  font-weight: 400;
}
.details .title p{
  margin: 0 5px;
}
.details .title p.current-img{
  font-weight: 500;
}
.details .icon{
  color: #007bff;
  font-size: 20px;
  cursor: pointer;
}
.preview-box .image-box{
  display: flex;
  width: 100%;
  position: relative;
}
.image-box .slide{
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  color: #fff;
  font-size: 30px;
  cursor: pointer;
  height: 50px;
  width: 60px;
  line-height: 50px;
  text-align: center;
  border-radius: 3px;
}
.slide.prev{
  left: 0px;
}
.slide.next{
  right: 0px;
}
.image-box img{
  width: 100%;
  border-radius: 0 0 3px 3px;
}
.shadow{
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  z-index: 2;
  display: none;
  background: rgba(0,0,0,0.45);
}

.inner-vedio{
 width: 100%;
 height:450px;
}







.overviwe-box{
    width: 40%;
    //height: 400px;
    margin: auto;
    display: flex;
    justify-content: space-around;
    //background: goldenrod;
  }


  .overviwe-box-in{
    width: 49%;
    height: 100%;
    text-align: center;
    //background: #007bff;
  }



@media(max-width: 1000px){
  .gallery .image{
    width: calc(100% / 2);
  }
}
@media(max-width: 600px){
  .gallery .image{
    width: 100%;
    padding: 4px;
  }
}



